@import url(./media.css);
@import url(./style.css);

@media screen and (max-width:1170px) {
    .present {
        margin: 60px 0 40px;
    }
}

@media screen and (max-width:730px) {
    .footer {
        padding: 60px 0;
    }

    .footer__nav-list_item-attributes {
        gap: 20px;
    }

    .footer__nav-list {
        gap: 90px;
    }
}

@media screen and (max-width:640px) {
    .footer {
        padding: 55px 0;
    }

    .footer__nav-list_item-attributes {
        gap: 15px;
    }

    .footer__nav-list {
        gap: 70px;
    }
}

@media screen and (max-width:560px) {
    .footer {
        padding: 50px 0;
    }

    .footer__nav-list_item-attributes {
        gap: 13px;
    }

    .footer__nav-list {
        gap: 50px;
    }
}

@media screen and (max-width:500px) {
    .footer {
        padding: 40px 0;
    }

    .footer__nav-list_item-attributes {
        gap: 11px;
    }

    .footer__nav-list {
        gap: 30px;
    }
}

@media screen and (max-width:400px) {
    .footer {
        padding: 39px 0;
    }

    .footer__nav-list_item-attributes {
        gap: 10px;
    }

    .footer__nav-list {
        gap: 30px;
    }
}

@media screen and (max-width:360px) {
    .footer {
        padding: 20px 0;
    }

    .footer__nav-list_item-attributes {
        gap: 1px;
    }

    .footer__nav-list {
        gap: 10px;
    }
}



@media screen and (max-width:700px) {
    .perfume__wrap {
        gap: 11px;
    }

    .perfume__left {
        gap: 15px;
    }

    .perfume__left-link {
        max-width: 150px;
        height: 60px;
        width: 100%;
        padding: 21px;
    }
}

@media screen and (max-width:650px) {

    .header {
        padding: 23px 0;
    }

    .header__nav-list_item-attributes {
        gap: 30px;
    }

    .header__nav-list {
        gap: 60px;
    }

    .banner__wrap {
        gap: 38px;
    }

    .banner__link {
        max-width: 170px;
        padding: 17px;
        font-weight: 700;
    }
}

@media (max-width: 600px) {
    .perfume__wrap {
        flex-direction: column;
        gap: 30px;
    }

    .perfume__right {
        position: relative;
        top: auto;
        right: auto;
        order: -1;
        max-width: 100%;
    }

    .perfume__left {
        z-index: 2;
        text-align: center;
        gap: 15px;


    }
}

@media screen and (max-width:540px) {

    .header {
        padding: 21px 0;
    }

    .header__nav-list_item-attributes {
        gap: 25px;
    }

    .header__nav-list {
        gap: 45px;
    }

    .banner__wrap {
        gap: 20px;
    }

    .banner__link {
        max-width: 140px;
        padding: 17px;
    }

}

@media screen and (max-width:480px) {

    .header {
        padding: 16px 0;
    }

    .header__nav {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }


    .header__nav-search {
        margin-right: 130px;
    }

    .header__nav-list {
        display: flex;
        gap: 35px;

    }

    .perfume {
        margin: 20px 0 70px;
    }

    .perfume__wrap {
        gap: 25px;
    }

    .perfume__left {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 540px;
        width: 100%;
    }

    .perfume__left-link {
        max-width: 160px;
        height: 55px;
        padding: 19px;
    }

    .present__center-title {
        margin: 70px 0 15px;
    }

    .perfume__left-title_collection {
        line-height: 50px;
    }

    .footer {
        padding: 16px 0;
    }

    .footer__nav {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .footer__nav-list {
        display: flex;
        gap: 35px;

    }

    .footer__nav-search {
        margin-right: 130px;
    }

}

@media screen and (max-width:440px) {

    .header {
        padding: 17px 0;
    }

    .header__nav-list_item-attributes {
        gap: 19px;
    }

    .header__nav-list {
        gap: 30px;
    }

}

@media screen and (max-width:390px) {

    .header {
        padding: 15px 0;
    }

    .header__nav-list_item-attributes {
        gap: 15px;
    }

    .header__nav-list {
        gap: 15px;
    }

}

@media screen and (max-width:360px) {

    .header {
        padding: 13px 0;
    }

    .header__nav-list_item-attributes {
        gap: 10px;
    }

    .header__nav-list {
        gap: 10px;
    }

}