* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
}

body {
    background: #F9F9F9;
    color: #FFFFFF;
    min-width: 320px;
}


.header {
    padding: 28px 0;
    background: #2D2D2D;
}

.container {
    max-width: 1155px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list_item-attributes {
    display: flex;
    align-items: center;
    gap: 40px;
}


.header__nav-list {
    display: flex;
    align-items: center;
    gap: 80px;
}

.header__nav-search {

    justify-content: space-between;
    align-items: center;

}

.header__nav-shop {

    justify-content: space-between;
    align-items: center;

}

.header__nav-list_item-link {
    color: #FFFFFF;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: clamp(0.938rem, 0.816rem + 0.61vw, 1.25rem);
}

.banner {
    background: url(../img/banner.png) no-repeat center bottom / cover;
    height: 90svh;
}

.banner__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.banner__title {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: clamp(2.5rem, 1.159rem + 6.71vw, 6rem);
    color: #FFFFFF;
}

.banner__link {
    display: inline-block;
    max-width: 200px;
    width: 100%;
    padding: 20px;
    background: #FFFFFF;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: clamp(0.625rem, 0.385rem + 1.2vw, 1.25rem);
    color: #000000;
    border-radius: 12px;
}

.present {
    margin: 100px 0 40px;
}



.present__center-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    margin: 100px 0 40px;
    font-weight: 700;
    font-style: Bold;
    font-size: clamp(1.563rem, 1.203rem + 1.8vw, 2.5rem);
    color: #303030;
}

.present__center-desk {

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: clamp(0.938rem, 0.818rem + 0.6vw, 1.25rem);
    leading-trim: NONE;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    color: #303030;
    word-break: break-all;

}


.perfume__left-title_collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: clamp(1.25rem, 0.771rem + 2.4vw, 2.5rem);
    line-height: 75px;
    color: #303030;
}

.perfume {
    margin: 50px 0 60px;
}

.perfume__wrap {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: center;
}

.perfume__left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 540px;
    width: 100%;
}

.perfume__left-title {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: clamp(1.25rem, 0.771rem + 2.4vw, 2.5rem);
    color: #303030;
}

.perfume__left-text {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: clamp(1.25rem, 0.771rem + 2.4vw, 2.5rem);
    leading-trim: NONE;
    line-height: 30px;
    letter-spacing: 0%;
    color: #303030;
    word-break: break-all;
}

.perfume__left-desc {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: clamp(0.938rem, 0.818rem + 0.6vw, 1.25rem);
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0%;
    color: #303030;
}

.perfume__left-link {
    display: inline-block;
    max-width: 160px;
    height: 75px;
    width: 100%;
    padding: 23px;
    background: #000000;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: clamp(0.938rem, 0.818rem + 0.6vw, 1.25rem);
    text-align: center;
    border-radius: 12px;
    color: #FFFFFF;
}

.perfume__right {
    max-width: 540px;
    width: 100%;
}

.perfume__right img {
    width: 100%;
}


.footer {
    padding: 70px 0;
    background: #2D2D2D;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__nav-list_item-attributes {
    display: flex;
    align-items: center;
    gap: 10px;
}


.footer__nav-list {
    display: flex;
    align-items: center;
    gap: 120px;
}

.footer__nav-list_item {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;

}


.footer__nav-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.footer__nav-shop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.footer__nav-list_item-link {
    color: #FFFFFF;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: clamp(0.938rem, 0.818rem + 0.6vw, 1.25rem);
}